{% extends 'base.html.twig' %}

{% block title %} - Zmodyfikuj dane autora "{{ author }}"{% endblock %}

{% block aside %}
	{% include('includes/aside.html.twig') %}
{% endblock %}

{% block main %}
	<section class="section">
		<h2 class="section__header">Zmodyfikuj dane autora "{{ author }}"</h2>

        {% import 'macros/form.html.twig' as form %}

        {{ form_start(authorForm, {'attr': {'class': 'form author__form'}}) }}
            {{ form_widget(authorForm._token) }}
            {{ form.input(authorForm.name) }}
            {{ form.input(authorForm.surname) }}
            {{ form.input(authorForm.pseudonym) }}
            {{ form.input(authorForm.born) }}
            {{ form.input(authorForm.died) }}
            {{ form.input(authorForm.country) }}
            {{ form.input(authorForm.description) }}
            {{ form.input(authorForm.genres) }}
            
            <button type="submit" class="form__submit btn btn-primary mt-3 mb-2">Zapisz</button>

            <a href="{{ path('author_show', {'id': author.id}) }}" class="d-inline-block mb-2 mr-2">Pokaż dane autora</a>
            
            <a href="{{ path('author_delete', {'id': author.id}) }}" class="d-inline-block mb-2 text-danger">
                Usuń autora
            </a>
        {{ form_end(authorForm) }}
	</section>	
{% endblock %}
