{% extends 'base.html.twig' %}

{% block title %} - {{ tag.name }}{% endblock %}

{% block aside %}
	{% include('includes/aside.html.twig') %}
{% endblock %}

{% block main %}
	<section class="section">
		<h2 class="section__header mb-3">{{ tag.name }}</h2>

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('tag_edit', {'id': tag.id}) }}" class="d-inline-block mb-2 mr-2">
				Edytuj tag
			</a>
			
			<a href="{{ path('tag_delete', {'id': tag.id}) }}" class="d-inline-block mb-2 text-danger">
				Usuń tag
			</a>			
		{% endif %}

		<a href="{{ path('tag_index') }}" class="d-block mb-4">
			Indeks tagów
		</a>
	</section>	
{% endblock %}
