{% extends 'base.html.twig' %}

{% block title %} - Zamówienie{% endblock %}

{% block main %}
	<section class="section">
		<h2 class="section__header mb-3">Dane wysyłki</h2>

		{% import 'macros/form.html.twig' as form %}

        {{ form_start(orderPlaceForm, {'attr': {'class': 'form order-place__form'}}) }}
            {{ form_widget(orderPlaceForm._token) }}
            {{ form.input(orderPlaceForm.name) }}
            {{ form.input(orderPlaceForm.surname) }}
            {{ form.input(orderPlaceForm.country) }}
            {{ form.input(orderPlaceForm.city) }}
            {{ form.input(orderPlaceForm.address) }}
            {{ form.input(orderPlaceForm.postalCode) }}
            {{ form.input(orderPlaceForm.phone) }}
            {{ form.input(orderPlaceForm.additionalPhone) }}
            {{ form.input(orderPlaceForm.paymentForm) }}
            
            <button type="submit" class="form__submit btn btn-primary mt-3 mb-2">Dalej</button>
        {{ form_end(orderPlaceForm, {'render_rest': false}) }}

		<a href="{{ path('order_show') }}" class="mr-2">Cofnij</a>

        <a href="{{ path('order_delete') }}" class="text-danger mb-3">Usuń zamówienie</a>
	</section>
{% endblock %}

{% block javascripts %}
	
{% endblock %}