{% extends 'base.html.twig' %}

{% block title %} - Zamówienie{% endblock %}

{% block main %}
	<section class="section">
		<h2 class="section__header mb-3">Zamówienie</h2>

		{% set products = order.getBooks() %}

		<table id="ordersTable" class="table table-responsive table-hovered" style="width: 100%;">
			<thead>
				<th>Id</th>
				<th>Tytuł</th>
				<th>ilość</th>
				<th>Cena</th>
			</thead>
			<tbody>
				{% for product in products %}
					<tr class="order-product">
						<td>{{ product['book'].id }}</td>
						<td>{{ product['book'].title }}</td>
						<td>
							{% include 'order/_controls.html.twig' with {'book': product['book']} %}
						</td>
						<td><span class="product-price">{{ product['book'].price }}</span> PLN</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="2"></td>
					<td>Suma</td>
					<td>
						<output id="finalPrice"></output>
						PLN
					</td>
				</tr>
			</tbody>
		</table>

		<form action="{{ path('order_complete') }}" method="post" class="mt-2 mb-3">
			<input type="hidden" name="_token" value="{{ csrf_token('order_place') }}">
			<button type="submit" class="btn btn-primary mb-2">Potwierdź</button>
			<a href="{{ path('order_delete') }}" class="text-danger d-block">Usuń zamówienie</a>
		</form>
	</section>
{% endblock %}

{% block javascripts %}
	<script>
		const orders = document.querySelectorAll('.order-product')
		const output = document.getElementById('finalPrice')
		const inputs = document.querySelectorAll('.order-product [type="number"]')
		const plusBtns = document.querySelectorAll('.book-tile__btn-group--plus')
		const minusBtns = document.querySelectorAll('.book-tile__btn-group--minus')

		const getSum = function () {
			let sum = Array.from(orders).map(function (order) {
				let ammount = order.querySelector('[type="number"]').value
				let price = order.querySelector('.product-price').innerText

				return ammount * price
			}).reduce(function (a, b) {
				return a + b
			})

			return Math.round(sum * 100) / 100
		}

		inputs.forEach(function (input) {
			input.addEventListener('change', function (e) {
				output.innerHTML = getSum()
			})
		})

		setInterval(function () {
			output.innerHTML = getSum()
		}, 100)

		output.innerHTML = getSum()
	</script>
{% endblock %}